* {
    padding: 0;
    border: 0;
    margin: 0;
}


body {
    background-color:darkgreen;
    background-size: cover;
}


/*----------TAMANHO-----------*/
.flor1 img{
    height: 150px;
    width: 150px;
}

.principal {
    background-color:darkgreen;
    height: 100vh;
    width: 100vw;
}

.galinha img {
    height: 300px;
    width: 300px;
}

.ovo img {
    height: 100px;
    width: 75px;
}

.if img {
    height: 500px;
    width: 400px;
}

/*----------KEYFRAMES-----------*/

@keyframes voo {
    0% {transform: translateX(0px); opacity: 100;}
    50% {transform: translateX(-42%); opacity: 100;}
    75% {opacity: 100;}
    100% {transform: translateX(-85%); opacity: 0;}
}

@keyframes queda {
    0% {transform: translateY(0px); opacity: 0;}
    10% {opacity: 100;}
    90% {transform: translateY(500px); opacity: 100;}
    100% {transform: translateY(500px); opacity: 0;}
}

@keyframes logo {
    0% {transform: translateY(0px) scale(0.2); opacity: 0;}
    10% {transform: translateY(0px);}
    60% {transform: translateY(-250px) scale(1);opacity: 100;}
    100% {transform: translate(-670px, -500px ) scale(0.5); opacity: 100;} 
}

@keyframes divu {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes flor1 {
    from {
        transform: rotate(0deg); 
        opacity: 100;
    }
    to{
        transform: rotate(360deg);
        opacity: 100;
    }


}


/*----------ANIMAÇÕES-----------*/

.galinha {
    display: flex;
    justify-content: end;
    animation-name: voo;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

.ovo {
    display: flex;
    justify-content: center;
    animation-name: queda;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.if {
    display: flex;
    justify-content: center;
    align-items: end;
    animation-name: logo;
    animation-delay: 5s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0;

}

.principal  {
    animation-name: display;
    animation-delay: 9s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.divu {
    position: absolute;
    z-index: 9;
    left: 250px;
    top: 35px;
    background-color: antiquewhite;
    height: 90vh;
    width: 80vw;
    animation-name: divu;
    animation-delay: 9s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-radius: 50px;
    opacity: 0;
}


/*----------TEXTO---------*/

.instituto {
    padding: 25px;
}

.flor1 {
    position: absolute;
    z-index: 10;
    top: 720px;
    left: 1400px;
    animation-name: flor1;
    animation-iteration-count: infinite;
    animation-delay: 9s;
    animation-duration: 2s;
    opacity: 0;
}